/* IT'S OPEN SOURCE BABY */

/*CSS for transparent buttons over images */

.thumb-links {
    color: #fff;
    font-size: 1.25em;
    height: 64px;
    padding: 18px 0 20px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 3.5px;
    position: absolute;
    left: 100px;
    bottom: 85px;
    text-align: center;
}


/*The rest of the CSS goes here*/

.black-line {
    border-top: 3px solid #efefef;
}

.inventory-title1 {
    text-align: center;
    font-size: 12px;
    color: #6A6A6A;
    margin-top: 3em;
    font-family: 'Oswald', sans-serif;
}

.inventory-title2 p{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
}

.borderline {
    border-top: 3px solid #AAA;
    width: 33%;
}

.borderline2 {
    border-top: 3px solid #FFF;
    width: 30%;
    margin-left: 10px;
}

.borderline3 {
    border-top: 3px solid #C27D50;
    width: 100%;
    margin-top: 4em;
}

.blackgapcocreaters {
    text-align: center;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.inventory-title3 {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

.index-img img {
    height: 250px;
    width: 350px;
    position: relative;
    padding-top: 1.6em;
    opacity: 0.8;
}

img:hover {
    opacity: 1;
}

.thumb-links a{
    color: white;
    text-decoration: none;
}

.thumb-links a:hover {
    color: #B3BCB7;
}

.image {
    height:700px;
    width:100%;
    background:black;
}

.image_2 {
    height:1200px;
    width:100%;
    background:black;
}

.image h2 {
    position:fixed;
}

.content {
    height:750px;
    width:100%;
    background:#F2F2F2;
    z-index:2;
}

.content p {
    font-size: 20px;
    font-weight: 300;
    margin:30px 60px;
}

#wall_1 {
    background: url(/img/shirttransparent.jpg) repeat-x;
    background-attachment: fixed;
}




.row {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.center {
    text-align: center;
}


h1.whyblackco {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 8px;
    color: #4698AD;
    padding-bottom: 20px;
}


p.whyblackco {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 16px;
    padding-bottom: 20px;
    font-weight: 100;

}


p.whyblackco2 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;

}

.mainCTA {
    color: #4698AD;
    border: #4698AD 1px solid;
    font-weight: 700;
    padding: 10px 35px;
    text-decoration: none !important;
    cursor: pointer;
    margin-top: 20px;
}

.mainCTA:hover {
    color: #f2f2f2;
    background-color: #4698AD;
}


.aboutAlignMiddle {
    padding-top: none;
    position: relative;
}
.clearPads {
    padding: 0;
}


.aboutWrapper {
    position: inherit;
    width: 99%;
    height: auto;
    margin: 60px 20px 60px 8px;
    border: 1px solid #E1E1E1;
    padding-bottom: 80px;
    padding-top: 30px;
    background-image: url(/img/concrete_seamless.png);
}


.aboutTable {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: inherit;
}


.line-break {
    border-top:3px solid #4698AD;
    border-bottom: 1px solid #e3e3e3;
}

.line-break h3 {
    color:black;
    font-size: 28px;
  
    padding:0 0 16px;
}

.line-break h4 {
    padding-right: 3.5em;
}

.copyright {
     margin-top: 20px;
     text-align: left;
     float: left;
     height:4em;
}

.copyright a {
    color: #4698AD !important;
}

.copy {
    white-space: nowrap;
}

.social-buttons {
    float:right;
    margin: 0 5px 0 0;
}

.login-container {
    border: 1px solid #ccc;
    max-width: 720px;
    min-width: 380px;
    width: 100%;
    padding: 20px 0 14px 1px;
    margin-bottom: 80px;
}

.login-info h1 {
    margin: 0 2.5% 0 2.5%;
    max-width: 95%;
    text-transform: none;
    line-height: 33px;
    font-size: 25px;
    text-align: center;
    padding: 0 6%;
    margin: 43px 18px 18px;
}

.login-info {
    text-align: center; 
    padding: 0 6%;
    margin: 43px 18px 18px;
}

.sign-in-form {
    margin-left: 150px;
    margin-right: 150px;
    text-align: left !important;
}

.btn-sign-in {
    margin-left: 110px;
    margin-right: 90px;
}

.no-account {
    color: black;
    margin-top: 50px;
    font-size: 18px !important;
    margin-bottom: 50px;
}

.no-account a {
    text-decoration: underline;
    color: black;
    margin-top: 50px;
    font-size: 18px !important;
    margin-bottom: 50px;
}

.password-forget {
    margin-top: 30px;
}

.about h1 {
    margin-left: 37%;
    text-decoration: underline;
    margin-top: 1em;
}

.about img {
    height:250px;
    float:left;
    border: 3px solid #f4b690;
}

.about h5 {
    color:black;
}

.spacer {
    letter-spacing: 3px;
}

.founders-description {
    border: 1px solid #ccc;
    max-width: 1000px;
    min-width: 380px;
    width: 100%;
    margin-bottom: 80px;
    margin-top:30px;
    background-color: #C27D50;
    padding-bottom: 40px;
    color: white;
    font-family: 'Oswald', sans-serif;

}

.founders-description h5{
    
    
    background-color: #C27D50;
    color: white; 
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.founders-description h1{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-decoration: none;
    
}

.inventory {
  padding-top:4em;
  padding-left:2em;
  padding-bottom: 4em;
}

.inventoryb {
  padding-left:2em;
  padding-bottom: 6em;
}

.inventory img {
    height:250px;
}

.inventory a {
    color:grey;
    text-transform: uppercase;
    text-align: center;
    left:2em;
}



@media screen and (max-width: 990px) {
    .borderline2 {
        width:30%;
       left:34%;
    }
}

@media screen and  (max-width:757px) {
    .social-buttons {
        float:none;
  
    }

  

}

@media screen and  (max-width:602px) {
   

  .image {
    
    display:none;

  } 

  .borderline2 {
        width:30%;
       left:59%;
    }



 

}

@media screen and  (max-width:400px) {
    .social-buttons {
        float:none;
  
    }

    .borderline2 {
        left:35%;
        width:30%;
    }



   

}

.navbar-default {
    border-color: #333 !important;
}

.navbar {
    border-color: #333 !important;
}

nav {
    border-color: #333 !important;
}

.h4 a{
    color: #4698AD !important;
}













